.container {
    max-width: 960px;
}

.clearfix {
	clear: both;
}

#footer {
	margin-top: 10px;
    text-align: center;
}

.icon-links a {
	color: darkblue;
	text-decoration: underline;
}

/**
 * Galleries
 */
.gallery {
	position: relative;
}

.gallery__header > h3 {
	margin-top: 10px;
}

.gallery__user {
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
}

.gallery__button {
	text-align: center;
}

.single-image {
	max-width: 100%;
	height: auto;
}

.image-tags {
	margin: 10px 0;
	font-size: 1.5em;
}


.gallery-image {
	float: left;
	margin: 5px;
}